<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Fieldset>
        <legend>Get Method</legend>
        <form action="/user" method="get"  >
            <label for="name">Name :</label>
         <input name="name" type="text" id="name" placeholder="name">
         <br>
         <br>
            <label for="email">Email :</label>
         <input  name="email"  type="email"  id="email" placeholder="name">
         <br>
         <br>
            <label  for="Password">Password :</label>
         <input name="password" type="password" id="Password" placeholder="name">
         <br>
         <br>
         <button type="submit">ChaleJao</button>

        </form>
    </Fieldset>

    <Fieldset>
        <legend>Post Method</legend>
        <form action="/user" method="post"  >
            <label for="name">Name :</label>
         <input name="name" type="text" id="name" placeholder="name">
         <br>
         <br>
            <label for="email">Email :</label>
         <input  name="email"  type="email"  id="email" placeholder="name">
         <br>
         <br>
            <label  for="Password">Password :</label>
         <input name="password" type="password" id="Password" placeholder="name">
         <br>
         <br>
         <button type="submit">ChaleJao</button>

        </form>
    </Fieldset>
</body>
</html>