<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>Edit </legend>
       <form action="/bond/<%=Data.id %>?_method=PATCH" method="post">
        <input type="text" name="title" value="<%=Data.title%>">
        <br>
        <br>
        <input type="text" name="author" value="<%=Data.author%>">
        <br>
        <br>
        <input type="text" name="year" value="<%=Data.year%>">
        <br>
        <br>
        <button>Save</button>
       </form>
    </fieldset>
</body>
</html>